// font faces

@font-face {
    font-family: Mudhead;
    src: url(../fonts/Mudhead.otf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat.ttf);
} 

@font-face {
    font-family: BebasNeue;
    src: url(../fonts/BebasNeue.ttf);
}

@font-face {
    font-family: Alfaslabone;
    src: url(../fonts/AlfaSlabOne.ttf);
}

// /////////////////////
// variable declirations
// /////////////////////

$body-font: Montserrat;
$action-font: Mudhead;
$accent-font: BebasNeue;
$button-font: Alfaslabone;

$action-color: #f9e3b8;
$accent-color: #48301d;
$main-color: #fa677a;

// ////////////////
// global css rules
// //////////////// 

html{
    scroll-behavior: smooth;
}

// scrollbar hidden

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: $action-color;
}
   
::-webkit-scrollbar-thumb {
    background: $main-color; 
    border-radius: 45px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: $accent-color;
}

// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
//   ENABLE if want designed scrollbar
//


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: $accent-color;
    font-family: $body-font;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    transition: ease-in-out;
    max-width: 100vw;
    overflow-x: hidden;
}

h1,h2{
    font-family: $accent-font;
}

button{
    font-family: $button-font;
    text-transform: uppercase;
    border: none;
    background-color: $main-color;
    color: #fff;
    font-size: 1.2em;
    padding: .6em 1em;
    cursor: pointer;
    border-radius: 15px;
}

ul[role="list"],
ol[role="list"]{
    list-style: none;
}

.d-flex,
.container-flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.advertisement-container,
.hero-container,
.container-flex,
.container{
    margin: 0 12.5vw;
}

.navbar-nav{
    .nav-link{
        a{
            text-decoration: none;
        }
    }
}



// //////////////
// main css rules
// //////////////

nav{
    z-index: 100;
}

h1,
h2,
h3{
    text-transform: uppercase;
}

.navbar{
    padding: 2vh 0;
    width: 100%;
}

.navbar-logo{
    height: 5.5vw;
}

.container-flex{
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    margin: 0 0 0 60px;

    a{
        font-family: $action-font;
        font-size: 1.5em;
        color: #48301d;
        text-transform: uppercase;
    }
}

.navbar-ham{
    display: none;
    img{
        height: 4vw;
    }
}

#toggle-nav{
    background: $main-color;
    height: 50vh;
    display: none;
    position: fixed;
    top: 0;
    z-index: 100;
}

#hero-section{
    background: url(../img/hero-background.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 50.05vw;
    font-family: $action-font;
    display: block;
    align-items: center;
}

.hero-container{
    padding-top: 15vw;
    h1{
        font-size: 5vw;
        filter: drop-shadow(5px 4px 0px #f9e3b8);
    }
    h2{
        font-size: 3vw;
        filter: drop-shadow(2px 2px 0px #f9e3b8);
    }
    h3{
        font-size: 2.5vw;
    }
}

.advertisement-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.flex-col-item{
    padding: 16px 0;
}

#products{
    margin-top: 60px;
    text-align: center;
    h1{
        font-size: 3em;
    }
    p{
        padding: 1em;
        line-height: 1.8em;
    }
}

.products-showcase{
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
}

.product{
    img{
        height: 250px;
    }
    h3{
        font-size: 2em;
        font-family: $accent-font;
        margin-top: 1em;
    }
    button{
        margin-top: 1em;
    }
}

#contact{
    background: #000;
    color: #fff;
    h1{
        font-family: $accent-font;
        font-size: 3em;
        text-align: center;
        padding: 1em 0;
    }
    margin-top: 60px;
}

.contact-section{
    justify-content: space-between;
}

.contact-logo{
    width: 300px;
}

.contact-desc{
    max-width: 500px;
    margin-top: 50px;
}

.contact{
    align-items: center;
    .contact-data{
        align-items: center;
        margin: 0 0 20px 0;
        img{
            width: 1.5em;
            margin: 0 20px 0 0;
        }
    }
}

.footer{
    justify-content: space-between;
    align-items: center;
    padding: 70px 0 20px 0;
}

.foot-social{
    margin-left: 16px;
}

.insta{
    margin-left: 0;
}

#reset-home{
    img{
        height: 48px;
        position: fixed;
        bottom: 0;
        right: 0;
        margin-right: 2em;
        margin-bottom: 2em;
        filter: drop-shadow(6px 6px 12px #48301d);
        
    }
}

// ///////////// //
// media queries //
// ///////////// //

// 
// max 1440px
// 

@media screen and (max-width:1440px) {
    .advertisement-container{
        flex-direction: column;

        .adv-col{
            margin-top: 5vh;
        }
    }
}

// 
// max 1366px
// 

@media screen and (max-width:1366px) {
    .products-showcase{
        flex-direction: column;

        .product{
            min-width: 400px;
            margin-bottom: 6vh;
            border: 1px solid #48301d;
            padding: 20px;
        }
    }

    .contact-section{
        flex-direction: column;
        align-items: center;

        .contact-logo{
            margin: 0 auto;
        }

        .contact{
            margin-top: 10vh;
            max-height: 50vw;
        }
    }
}

// 
// max 990px
// 

@media screen and (max-width:990px) {
    .navbar-nav{
        display: none;
    }
    .navbar-ham{
        display: block;
    }

    .hero-container{
        h1{
            filter: none;
        }
        h2{
            filter: none;
        }
        h3{
            color:#f9e3b8;
        }
    }

    .advertisement-container{
        img{
            max-width: 100vw;
        }
    }

    .footer{
        flex-direction: column;
    }

    .foot{
        margin: 5vh;
    }

}

// 
// max 600px
// 

@media screen and (max-width:600px) {
    .flex-col-item{
        img{
            width: 100vw;
        }
    }
}